<div class="tracks-page">
    <!--section top (small)-->
    <app-seccion-generica [title]="'¡La mejor música del mundo!'"></app-seccion-generica>
    <app-seccion-generica [title]="'Lo mejor de Electronica'" ></app-seccion-generica>
    <!-- <app-seccion-generica [dataTracks]="tracksTrending" [mode]="'small'" [title]="'¡La mejor música del mundo!'">
    </app-seccion-generica> -->
    <!--section medium (big)-->
    <!-- <app-seccion-generica [dataTracks]="tracksRandom" [mode]="'big'" [title]="'Lo mejor de Electronica'">
    </app-seccion-generica> -->
</div>